.label-image{
	display:inline-block;
	vertical-align:middle;
	/*width:60px;
	background-color:#444;
	padding:5px;
	border:1px solid #000;*/
	/*color:#aaa;*/
}
.label-image img,
.label-image span { text-align:center; display:block; margin:0 auto; }